# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Documentations
Docomentations/
ICONS_GENERATOR_README.md
PERFORMANCE_OPTIMIZATIONS.md
docs/
docs/
documentation/
*.pdf
*.docx
*.doc
*.pptx
*.ppt
*.xlsx
*.xls
